:root {
  --button-color: rgb(67, 122, 217);
  --secondary-color: #b3a1e3be;
  --heading-font-family: "Nunito", sans-serif;
  --default-font-family: "Courier New", Courier, monospace;
}
.logo {
  max-width: 70px;
}
nav {
  padding: 20px 0;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}
nav a {
  text-decoration: none;
  color: gray;
}
nav a:hover,
a:active {
  color: var(--button-color);
}
body {
  margin: 5px auto;
  text-align: center;
  max-width: 1000px;
}
.hero {
  background-color: var(--secondary-color);
  padding: 40px 20px 40px 20px;
  border-radius: 10px;
}
.content-container {
  padding: 30px 15px;
}
.content {
  margin: 30px;
}
.content-container {
  font-size: 50px;
  line-height: 1;
}
.content-container h2 {
  font-size: 20px;
  font-family: var(--default-font-family);
}
.content-container p {
  font-size: 18px;
}
h1 {
  font-size: 96px;
  font-family: var(--heading-font-family);
}
.content h1 {
  font-size: 60px;
}
h2 {
  font-size: 36px;
  font-family: var(--default-font-family);
}
.btn-branding {
  background-color: var(--button-color);
  box-shadow: 10px 5px 5px grey;
  color: white;
}
.btn-branding-outline {
  color: var(--button-color);
  border: 1px solid var(--button-color);
}
.project-description {
  padding: 30px 15px;
}
footer .contact-box {
  background: var(--secondary-color);
  padding: 20px 120px;
  border-radius: 10px;
}
footer h4 {
  font-family: var(--heading-font-family);
  text-shadow: grey 1px 0 10px;
  font-size: 48px;
}
footer .ts {
  font-family: var(--default-font-family);
  text-shadow: grey 1px 0 10px;
}
footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
footer .email-link:hover {
  color: var(--button-color);
}
footer .social-links a {
  color: var(--button-color);
  font-size: 18px;
  padding: 2px 2px;
  border: 1px solid #a09d9d4f;
  border-radius: 25%;
}
@media (max-width: 900px) {
  h1 {
    font-size: 55px;
  }
  .project-description {
    padding: 0;
    text-align: centre;
    margin-bottom: 2;
  }
}
